---
title: Baseplate
---

<!doctype html>
<html>
<head>
	<title>{{ title }}</title>
	<link rel="stylesheet" href="/compiled/css/app.css">
</head>
<body>
	<h1 class="e-h1">{{ title }}</h1>
	
	{{ content | safe }}
</body>
</html>
