<!doctype html>
<html lang="{{ app.language }}">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{ meta.title }}</title>

	<link rel="icon" type="image/png" href="/static/img/meta/favicon-32.png">
	<link rel="apple-touch-icon" href="/static/img/meta/favicon-180.png">

	<link rel="stylesheet" href="{% mix '/compiled/css/app.css' %}">
</head>
<body>
	<div class="x-container">
		<main class="flex items-center min-h-screen p-3 text-center">
			<div class="x-copy m-auto max-w-copy">
				{{ content }}
			</div>
		</main>
	</div>
</body>
</html>
